body, html {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#controls-container {
    display: flex;
    align-items: center; /* Vertically align items in the container */
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2; /* Ensure the container is above the map */
}

.mapboxgl-ctrl-geocoder {
    flex-shrink: 0; /* Prevent the Geocoder from shrinking */
    margin: 0 2px; /* Provide spacing on both sides */
    width: 50%; /* Adjust this width as necessary */
}

#reset-button {
    background-color: #fff; /* Match the Geocoder's background color */
    border: 1px solid #ccc; /* Similar to the Geocoder's border */
    padding: 6px 12px; /* Adjust padding to match the height of the Geocoder */
    cursor: pointer;
    border-radius: 4px; /* Rounded corners like the Geocoder */
    font-size: 14px; /* Font size to match the Geocoder */
    margin-right: 2px; /* Spacing between the reset button and the search bar */
    flex-shrink: 0; /* Prevent the button from shrinking */
}

@media (max-width: 600px) {
    .mapboxgl-ctrl-geocoder {
        width: 70%; /* Adjust width for smaller screens */
    }
    #controls-container {
        top: 5px; /* Optionally adjust the container's top position on smaller screens */
        left: 50%; /* Keep centered, but adjust as needed */
        transform: translateX(-50%); /* Ensure center alignment */
    }
}

/* Overlay style */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3; /* Make sure this is above the map but below the controls */
    display: none; /* Hidden by default, shown via JavaScript */
    justify-content: center;
    align-items: center;
}

/* Modal box style */
.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 4; /* Above the overlay */
    width: 90%;
    max-width: 500px; /* Adjust based on your preference */
}

/* Additional styles for form elements inside the modal as needed */
