body, html {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#controls-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2; /* Ensure the container is above the map */
}

.mapboxgl-ctrl-geocoder {
    flex-shrink: 0;
    margin: 0 2px;
    width: 50%;
}

#reset-button {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 2px;
    flex-shrink: 0;
}

@media (max-width: 600px) {
    .mapboxgl-ctrl-geocoder {
        width: 70%;
    }
    #controls-container {
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 768px) {
    .modal-content {
        max-width: 500px; /* Slightly smaller max-width for tablets */
    }
}

@media (max-width: 600px) {
    .modal-content {
        padding: 10px;
        width: 95%; /* Let the modal take up more screen width on smaller devices */
        max-width: none; /* Removing max-width constraint for small devices */
    }

    .form-row {
        flex-direction: column; /* Stack form elements vertically on small screens */
    }

    .form-group {
        /* If specific adjustments are needed for .form-group on smaller screens, add them here */
    }

    .modal-content input[type="text"],
    .modal-content input[type="email"],
    .modal-content input[type="phone"],
    .modal-content select,
    .modal-content button {
        width: calc(100% - 24px); /* Adjusts width considering padding, or simply set to 100% if no extra space is needed */
        margin: 5px 0; /* Adds some margin for vertical stacking */
    }

    .modal-overlay {
        padding: 5px; /* Reduced padding on smaller screens for more space */
    }
}


/* Overlay style */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    padding: 30px; /* Added padding to create space around the modal content */
    z-index: 10;
    opacity: 0;
    transition: opacity 0.4s ease;
}

/* Modal box style */
.modal-content {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #dee2e6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    width: 90%;
    max-width: 600px;
    min-width: 280px;
    overflow-y: auto; /* Enables vertical scrolling within the modal content */
    max-height: 80vh; /* Sets the maximum height to 80% of the viewport height */
    transition: transform 0.3s ease-out;
    font-family: 'Barlow', sans-serif;
}


.modal-content h2 {
    margin-top: 0;
    color: #333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
}

.modal-content label {
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    display: block;
    color: #666;
    margin-bottom: 5px;
}

.modal-content input[type="text"],
.modal-content input[type="email"],
.modal-content input[type="phone"],
.modal-content select,
.modal-content button {
    width: 100%;
    padding: 12px 15px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s;
    font-size: 14px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
}

.modal-content input[type="text"]:focus,
.modal-content input[type="email"]:focus,
.modal-content input[type="phone"]:focus,
.modal-content select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 0 2px rgba(0,123,255,0.25);
}

.modal-content button {
    margin-top: 20px;
    background-color: rgb(44, 124, 148);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.05em;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.modal-content button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* When the modal is visible */
.modal-overlay.show {
    display: flex;
    opacity: 1;
}

.modal-content.show {
    transform: translateY(0);
}

/* Logo container style */
.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo-container img {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.form-row {
  display: flex;
  gap: 10px; /* Adjust space between form groups */
}

.form-group {
  flex: 1; /* Allows each form group to expand and fill the available space */
}

.popup-container {
    background-color: transparent; 
    box-shadow: none; 
    padding: 20px;
    max-width: 300px;
}

.popup-title {
    color: rgb(44, 124, 148);
    font-size: 16px;
    margin-bottom: 10px;
}

.popup-description {
    color: #666;
    font-size: 14px;
}

.popup-close {
    cursor: pointer;
}

.popup-close:hover {
    color: rgb(236, 106, 94); /* Change color to red on hover */
}



